<div class="page about">
  <h1 class="bgText">about</h1>
  <div class="content">
    <h2>Web Developer | Web Designer</h2>
    <p>
      <em>Hi, my name is</em>
      <em>Neamtu Bogdan-Costel</em>
      <em>and I am a young engineer</em>
      <em>eager to apply the knowledge and skills</em>
      <em>I have acquired during numerous</em>
      <em>courses, laboratories, trainings and internships.</em>
      <em>I am a creative person</em>
      <em>with a strong passion for technology.</em>
    </p>
    <h2>Why me?</h2>
    <ul>
      <li><em>BS in computer science</em></li>
      <li><em>Experience with HTML, CSS, JavaScript, jQuery, Angular.</em></li>
      <li><em>A solid understanding of how web applications work.</em></li>
      <li><em>Familiar with Adobe Photoshop. PSD to HTML.</em></li>
      <li><em>Able to create websites layout by using HTML/CSS practice.</em></li>
      <li><em>Able to create Responsive Web Design.</em></li>
      <li><em>Able to convert old web pages in responsive design.</em></li>
      <li><em>I like to learn everything is new in this technology.</em></li>
    </ul>
  </div>
</div>
