
$bg-gray: #252525
$text-gray: #414040
$text-blue: #3eb3cc

.work
  align-items: center

  .projectList
    margin-left: 65px
    width: 100%
    max-height: 100%
    overflow: hidden


    h2
      color: $text-blue
      font-weight: 200
      line-height: 1

    .prj
      display: inline-block

      .project
        height: 200px
        width: 200px
        background:
          position: top center
          size: cover
        float: left
        margin-left: 2px
        margin-top: 2px
        position: relative


        span
          content: ""
          position: absolute
          display: flex
          align-items: center
          justify-content: space-around
          background-color: white
          top: 0
          left: 0
          right: 0
          bottom: 0
          opacity: 0
          transition: all 0.5s

        span:before
          content: "DETAILS"
          display: flex
          align-items: center
          justify-content: space-around
          background-color: $text-blue
          color: white
          height: 50%
          width: 50%
          border-radius: 50%

        &:hover
          cursor:  pointer
          span
            opacity: 0.9

  .projectDescription
    z-index: 0
    display: flex
    max-width: 60%
    .projectInfo
      margin-left: 65px
      padding-left: 30px
      h2
        color: $text-blue
        font-size: 45px
        line-height: 1

      h3
        color: white
        font-weight: 200
        border-bottom: solid 1px $text-blue

      p
        padding-right: 20px

      ul
        list-style: none

      li
        &:before
          content: "•"
          color: $text-blue
          display: inline-block
          width: 1em
          margin-left: -1em

      p, ul li
        font-family: 'Titillium Web', sans-serif
        max-width: 650px
        color: white
        font-size: 20px
        font-weight: 200
        line-height: 1

      a
        display: inline-block
        color: $text-gray
        text-decoration: none
        background-color: $text-blue
        padding: 2px 20px
        box-shadow: 0px 4px 8px rgba(0,0,0,0.4)
        margin-top: 30px


        &:hover
          color: white
          cursor: pointer

    .img-desc
      position: absolute
      height: 100%
      width: 40%
      right: 0
      top: 0
      background-size: cover
      background-size: top center
      background-repeat: no-repeat
      opacity: 0.4
      transition: all 0.5s

      &:hover
        cursor: pointer
        opacity: 1



@media (max-width: 600px)
  .work
    height: auto
    margin-left: -1px
    .projectList
      text-align: center
      margin-left: 0
      padding-left: 0
      overflow: visible

      .prj
        .project
          height: 180px
          width: 180px

    .projectDescription
      max-width: 100%
      .projectInfo
        margin-left: 0
        padding: 20px
        .backButton
          margin-top: 0px

      .img-desc
        height: 70%
        width: 100%
        top: 100%
