$bg-gray: #252525
$text-gray: #414040
$text-blue: #3eb3cc

.page
  background-color: $text-gray

  h1
    color: fade-out(white,0.98)
    position: absolute
    right: 0
    font-size: 25vw
    margin: 0
