<div class="page work">
  <h1 class="bgText">work</h1>
  <div class="projectList">
    <div class="prj" *ngFor="let project of allProjects;  let i = index">
      <a class="project" [style.background-image]="project.projectImage" (click)="changeProject(i)">
        <span></span>
      </a>
    </div>
  </div>
  <div *ngIf="flag" class="projectDescription">
    <h2>{{ currentProject.projectName }}</h2>
    <h3>DESCRIPTION</h3>
    <p>{{ currentProject.projectDescription }}</p>
    <h3>TECHNOLOGIES USED</h3>
    <ul>
      <li  *ngFor="let tech of currentProject.projectTechnologies">{{ tech }}</li>
    </ul>
    <a href="{{ currentProject.projectURL }}">VISIT PAGE</a>
  </div>
</div>
