<div class="nav">
  <div class="logo">
  </div>
  <ul>
    <li>
      <a routerLink="" id="focusMe">
        <p>home</p>
        <i class="fas fa-home"></i>
      </a>
    </li>
    <li>
      <a routerLink="about">
        <p>about</p>
        <i class="fas fa-user"></i>
      </a>
    </li>
    <li>
      <a routerLink="work">
        <p>work</p>
        <i class="fas fa-briefcase"></i>
      </a>
    </li>
    <li>
      <a routerLink="contact">
        <p>contact</p>
        <i class="fas fa-envelope"></i>
      </a>
    </li>
  </ul>
  <ul>
    <li class="mail">
      <a href="mailto:neamtu.bc@gmail.com">
        <i class="fa fa-share"></i>
      </a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
