<div class="nav">
  <div class="logo">
    <h1>nb.</h1>
  </div>
  <ul>
    <li>
      <a routerLink="" [ngClass]="{'active':selectedTab === 'home'}" (click)="selectedTab = 'home'">
        <p>home</p>
        <i class="fas fa-home"></i>
      </a>
    </li>
    <li>
      <a routerLink="about" [ngClass]="{'active':selectedTab === 'about'}" (click)="selectedTab = 'about'">
        <p>about</p>
        <i class="fas fa-user"></i>
      </a>
    </li>
    <li>
      <a routerLink="work" [ngClass]="{'active':selectedTab === 'work'}" (click)="selectedTab = 'work'">
        <p>work</p>
        <i class="fas fa-briefcase"></i>
      </a>
    </li>
    <li>
      <a routerLink="contact" [ngClass]="{'active':selectedTab === 'contact'}" (click)="selectedTab = 'contact'">
        <p>contact</p>
        <i class="fas fa-envelope"></i>
      </a>
    </li>
  </ul>
  <ul class="emailMe">
    <li class="mail">
      <a href="mailto:neamtu.bc@gmail.com">
        <i class="fa fa-share"></i>
      </a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
